* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primaryColor:#96C863;
    --boxshadow: 0 2px 15px rgb(0 0 0 / 10%);
    --transition: 0.5s
}
body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap:80px;
    align-items: center;
}
ul li a{
    color:#8d8d8d;
    font-size:18px ;
}
a{
    text-decoration: none;
    transition: var(--transition);
}
ul li a:hover{
    color:var(--primaryColor);
    font-weight: 500;

}
.btn-start{
    background-color: var(--primaryColor);
    border-radius: 6px;
    color: #fff;
    text-align: center;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: 400;
    border:none;
    outline: none;
    box-shadow: var(--boxshadow);
    transition: var(--transition)
}
.btn-start:hover{
box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
background-color:#7dad4d;
}
.container{
    width:80%;
    margin:auto;
}
.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 40px 0;

 
}
.images img{
    width: 600px;
    max-width: 100%;
    object-fit: cover;
}
.left-side{
    flex: 1;
}
.left-side h1{
    width:45%;
    line-height: 1.3;
    font-size: 35px;
    font-weight: 900;
    text-align: start;
    text-transform: uppercase;
}
.left-side p{
    width: 70%;
    line-height: 1.7;
    color:rgb(83, 83, 83);
    margin: 20px 0;
}
.form-select-currancy{
    display: flex;
    justify-content: flex-start;
    gap:30px;
}
.coin-option{
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid #eee;
    background-color: transparent;
    color:rgb(97, 97, 97);
    width:50%;
}
@media (max-width: 1200px){
    .container{
        width:80%;
        margin:auto;
    }
}
@media (max-width: 991px){
    nav ul{
        display: none;
    }
   
    nav::after{
        font-family: "Font Awesome 5 Free";
        content: "\f0c9";
         font-weight: 900;
         color:#000;
         font-size: 18px;
        
    }
    .row{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
        order:2;
        margin-top: 30px;
    }
    .left-side h1{
        width:100%
    }
   
}