* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.container{
    width:60%;
    margin:4rem  auto;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.form-select-currancy{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:80%;
    align-items: center;
    margin:auto;
    border: 3px solid #fff;
    padding: 25px;


}
h1{
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
    width: 100%;
}
label{
    font-size: 18px;
    text-align: start;
    display: block;
    font-weight: 600;
    margin: 25px;
}
.coin-option{
    border-radius: 6px;
    padding: 15px 20px;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
}
.coin-option:focus{
    border:2p solid rgb(219, 200, 92);
    outline: none;

}
.btn{
    border-radius: 8px;
    padding: 15px ;
    background-color: rgb(47, 94, 248);
    font-size: 20px;
    outline: none;
    border: none;
    margin: 30px;
    width:55%;
    color:#fff;
    cursor: pointer;
}

@media  (max-width:1200px){
    .container{
        width:100%;
    }
    
}

