@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primaryColor:#FFA800;
    --boxshadow: 0 2px 15px rgb(0 0 0 / 10%);
    --transition: 0.5s
}
body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    width:80%;
    margin:50px auto;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap:80px;
    align-items: center;
}
ul li a{
    font-size:18px ;
    color:rgb(70, 70, 70);
}
a{
    text-decoration: none;
    transition: var(--transition);
}
ul li a:hover{
    color:var(--primaryColor);
    font-weight: 500;
}
ul li a:hover{
    color:var(--primaryColor);
    font-weight: 500;

}


    .crytpo-sec{
        background-color: #F5F8FA;
        position: relative;
    }
    .rows{
        width:80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .titles{
        width: 50%;
        margin:100px;
        text-align: center;
    }
    .titles p{
        margin: 35px 0;
        line-height: 1.7;
        color:rgb(83, 83, 83);
    }
h1{
    font-size: 2.5rem;
}

.frm{
    width: 70%;
    margin-top: -154px;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--boxshadow);
    z-index: 1000;
    position: absolute;
    transform: translateX(7%);
}

.btn-search{
    width:15%;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    background-color: var(--primaryColor);
    color:#fff;
    border: none;


}

   
.title{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px  
}
.data-crypto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(248, 248, 248);
    border-radius: 4px;
    padding:25px;
    border: 1px solid #eee;
    margin-top: 80px;
}

 th{
    width:200px;
    text-transform: uppercase;
    vertical-align:middle;
}
.row{
    width:200px;
    border-bottom: 2px solid #eee;
    text-transform: capitalize;
    text-align: center;
}
.row td{
    height: 60px;
    border-top: 2px solid #eee;
}
.green{
    color:rgb(31, 212, 40)
}
.red{
    color:red
}
.symbol {
    text-transform: uppercase;
    color: grey;
}
input[type=text] {
    position: relative;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 50px;
    border: 1px solid #ccc;
    width: 6570%;
  }
  input[type=text]:focus{
      outline: none;
  }

@media screen and (max-width: 1000px) {
    .disapearin1000{
        display:none;
    }
}

@media screen and (max-width: 800px) {
    .disapearin800{
        display:none;
    }
    nav ul{
        display: none;
    }
   
    nav::after{
        font-family: "Font Awesome 5 Free";
        content: "\f0c9";
         font-weight: 900;
         color:#000;
         font-size: 18px;
        
    }
    .rows{
        width: 100%;
    }
    .frm{
        width: 85%;
        flex-direction: column;
    }
    input[type=text] {
        width:100%;
    }
    .btn-search{
         
        width:30%;
        
  
}
    
}

@media screen and (max-width: 600px) {
    .disapearin600{
        display:none;
    }
    nav ul{
        display: none;
    }
   
    nav::after{
        font-family: "Font Awesome 5 Free";
        content: "\f0c9";
         font-weight: 900;
         color:#000;
         font-size: 18px;
        
    }
    .rows{
        width: 100%;
    }
    .frm{
        width: 85%;
        flex-direction: column;
    }
    input[type=text] {
        width:100%;
    }
    .btn-search{

        width:30%
  
}
}



@media screen and (max-width: 500px) {
    .disapearin500{
        display:none;
    }
    .rows{
        width: 100%;
    }
    .frm{
        width: 85%;
        flex-direction: column;
    }
    input[type=text] {
        width:100%;
    }
    .btn-search{

        width:35%
  
}
}
